<!DOCTYPE html>
<html> 

    <head>
        <title>SnapHelp</title>
    </head>

    <body>
        <h1>It's working</h1>
        <form action = "/create" method="POST">
            <input type="text" name="title">
            <button type="submit">Submit</button>
           
        </form>
        <a href="/incidents">LOOK AT INCIDENTS</a>

    </body>

</html>